@media (min-width: 600px) and (max-width: 1100px) {

    body {
        background-color: #151515;
        font-family: sans-serif;
        color: white;
    }

    .menu{
        display: flex;
        width: 100%;
        height: 150px;
        background-color: #151515;
        color: white;
    } 

    .nav {
        display: flex;
        margin: 15px;
        width: 500px;
        height: auto;
        color: white;
    }

    .nav a {
        display: flex;
        margin: 10px;
        width: auto;
        height: 15px;
        text-transform: uppercase;
        font-size: 15px;
        text-align: center;
        cursor: pointer;
        color: white;
        border: none;
        background-color: #151515;
        text-decoration: none;
    }

    .nav a:hover {
        display: flex;
        margin: 10px;
        width: auto;
        height: 15px;
        text-transform: uppercase;
        font-size: 15px;
        text-align: center;
        cursor: pointer;
        color: #EE9C7F;
        border: none;
        background-color: #151515;
        text-decoration: none;
    }

    .title {
        display: flex;
        margin-left: calc(50% - 125px);
        width: 150px;
        height: auto;
        text-align: center;
        text-transform: uppercase;
        font-size: 25px;
        cursor: pointer;
        text-decoration: none;
    }

    .title h1 {
        color: #EE9C7F
    }

    /* ----------- picture ------------ */

    .picture {
        position: relative;
        margin-top: 30px;
        height: 500px; 
        width: 100%;
    }

    .picture img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .picture .sub-title {
        position: absolute;
        height: auto;
        width: 400px;
        top: 150px;
        left: 200px;
        background-color: #EE9C7F;
        color: #151515;
    }

    .picture .sub-title h2 {
        height: 25px;
        width: calc(100% - 50px);
        margin: 25px;
        font-size: 25px;
        background-color: #EE9C7F;
        color: #151515;
    }

    .picture .sub-title p {
        height: 125px;
        width: calc(100% - 50px);
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 25px;
        font-size: 20px;
        color: #151515;
        background-color: #EE9C7F;
    }

    /* --------- sub menu ----------- */

    .sub-menu {
        margin-top: 30px;
        display: flex;
        width: 90%;
        height: 120;
        margin-left: 5%;
    }

    .sub-menu a {
        display: flex;
        margin: 15px;
        width: 250px;
        height: auto;
        color: white;
        text-decoration: none;
    }

    .sub-menu .icon {
        height: 100px;
        width: 100px;
        margin: auto;
        background-color: #151515;
    }

    .sub-menu .icon-cocktail{
        height: 100px;
        width: 100px;
        margin: auto;
        background-image: url('../../icon/cocktail.png');
        background-size: 100px 100px;
        text-align: center;
        color: white;
        font-size: 16px;
        background-repeat: no-repeat;
        line-height: 280px;
    }

    .sub-menu .icon-wine{
        height: 100px;
        width: 100px;
        margin: auto;
        background-image: url('../../icon/wine.png');
        background-size: 100px 100px;
        text-align: center;
        color: white;
        font-size: 16px;
        background-repeat: no-repeat;
        line-height: 280px;
    }

    .sub-menu .icon-digestif{
        height: 100px;
        width: 100px;
        margin: auto;
        background-image: url('../../icon/digestif.png');
        background-size: 100px 100px;
        text-align: center;
        color: white;
        font-size: 16px;
        background-repeat: no-repeat;
        line-height: 280px;
    }

    .sub-menu .icon-pizza{
        height: 100px;
        width: 100px;
        margin: auto;
        background-image: url('../../icon/pizza.png');
        background-size: 100px 100px;
        text-align: center;
        color: white;
        font-size: 16px;
        background-repeat: no-repeat;
        line-height: 280px;
    }

    /* ---------- sub menu clickable ---------- */

    .sub-menu .icon-cocktail:hover{
        height: 100px;
        width: 100px;
        margin: auto;
        background-image: url('../../icon/cocktailCliquable.png');
        background-size: 100px 100px;
        text-align: center;
        color: #EE9C7F;
        font-size: 16px;
        background-repeat: no-repeat;
        line-height: 280px;
        cursor: pointer;
    }

    .sub-menu .icon-wine:hover{
        height: 100px;
        width: 100px;
        margin: auto;
        background-image: url('../../icon/wineCliquable.png');
        background-size: 100px 100px;
        text-align: center;
        color: #EE9C7F;
        font-size: 16px;
        background-repeat: no-repeat;
        line-height: 280px;
        cursor: pointer;
    }

    .sub-menu .icon-digestif:hover{
        height: 100px;
        width: 100px;
        margin: auto;
        background-image: url('../../icon/digestifCliquable.png');
        background-size: 100px 100px;
        text-align: center;
        color: #EE9C7F;
        font-size: 16px;
        background-repeat: no-repeat;
        line-height: 280px;
        cursor: pointer;
    }

    .sub-menu .icon-pizza:hover{
        height: 100px;
        width: 100px;
        margin: auto;
        background-image: url('../../icon/pizzaCliquable.png');
        background-size: 100px 100px;
        text-align: center;
        color: #EE9C7F;
        font-size: 16px;
        background-repeat: no-repeat;
        line-height: 280px;
        cursor: pointer;

    }

    .footer {
        height: 200px;
        width: 100%;

    }
}



