<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Jus de bagarre</title>
        <script th:src="@{/javascript/jquery-2.1.4.js}"></script>
        <script th:src="@{/javascript/recipe.js}"></script>
        <link th:href="@{/css/computer/recipe.css}" rel="stylesheet"/>
        <link th:href="@{/css/tablet/recipe.css}" rel="stylesheet"/>
        <link th:href="@{/css/mobile/recipe.css}" rel="stylesheet"/>
	</head>

	<body>
		<header>
            <div class="menu">
                <a th:href="@{/}" class="title">
                    <h1>
                        La Bagarre
                    </h1>
                </a>
            </div>
		</header>

        <div class="picture">
            <div class="sub-title">
                <h2>Jus de bagarre</h2>
                <p>Ici, on parle bouffe. Alors prepare les fourchettes et les couteaux, et let's go !</p>
                <div class="add">
                    <a th:href="@{/cocktail/ajouter}">
                        <label>+ Ajouter une petite recette</label>
                    </a>
                </div>
            </div>
            <img th:src="@{/img/bar.jpg}">
        </div>

        <div class="sub-menu">
            <a th:href="@{cocktails}">
                <div class="icon-cocktail">
                    Bagarre
                </div>
            </a>
            <a th:href="@{vins}">
                <div class="icon-wine">
                    Vins
                </div>
            </a>
            <a th:href="@{digestifs}">
                <div class="icon-digestif">
                    Pouce-pouce
                </div>
            </a>
            <a th:href="@{grailles}">
                <div class="icon-pizza">
                    Graille
                </div>
            </a>
        </div>

        <div class="result">
            <tr th:each="recipe: ${recipes}">
                <div class="product">
                    <div class="product-picture">
                        <img th:src="@{${'/img/recipe/' + recipe.picture}}">
                    </div>
                    <div class="product-information">
                        <h2 class="product-information-title" th:text="${recipe.name}">
                        </h2>
                        <p class="product-information-description" th:text="${recipe.description}">
                        </p>
                        <button th:id="'button-' + ${recipe.recipeId}" class="instructions-button" th:attr="onclick=|displayDetail(this, '${recipe.recipeId}')|">
                            +
                        </button>
                    </div>
                    <div class="product-grade" th:text="${recipe.grade}+ '/5'">
                    </div>
                </div>
                    
                <div th:id="'recipe-' + ${recipe.recipeId}" class="recipe">
                    <div class="instructions-text">
                        <div class="ingredients">
                            <h2>
                                Ingredients
                            </h2>
                            <div th:each="ingredient:${recipe.ingredients}">
                                <p th:text="${ingredient}"></p>
                            </div>
                        </div>
                        <div class="instructions">
                            <h2>
                                Instructions
                            </h2>
                            <p th:text="${recipe.instructions}"></p>
                        </div>
                    </div>

                    <h2>
                        Commentaires
                    </h2>

                    <div class="comment-zone">
                        <div th:each="comment:${recipe.comments}" class="sub-comment-zone">
                            <div th:if="${user!=comment.name}" class="comment">
                                <h3 th:text="${comment.name}"></h3>
                                <p th:text="${comment.text}"></p>
                            </div>

                            <div th:if="${user==comment.name}" class="my-comment">
                                <h3 th:text="${comment.name}"></h3>
                                <p th:text="${comment.text}"></p>
                            </div>
                        </div>
                    </div>

                    <div class="comment-text">
                        <textarea th:id="'text-' + ${recipe.recipeId}"></textarea>
                    </div>

                    <button th:attr="onclick=|sendMessage('${user}', '${recipe.recipeId}')|" class="send-button">
                        Envoyer
                    </button>
                    <button class="instructions-button" th:attr="onclick=|undisplayDetail(this, '${recipe.recipeId}')|">
                        X
                    </button>
                </div>
            </tr>
        </div>

        <div class="footer">

        </div>

        <script type="text/javascript">
			$(".recipe").fadeOut(0);
		</script>
	</body>
</html>
