<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>LazyTravelWeb</title>
		<link href="../static/css/index.css" rel="stylesheet"/>
	</head>

	<body>
		<header>
            <div class="menu">
                <div class="nav">
                    <button>
                        Accueil
                    </button>
                    <button>
                        Se connecter     
                    </button>
                </div>
                <div class="title">
                    <h1>
                        La Bagarre
                    </h1>
                </div>
            </div>
		</header>

        <div class="picture">
            <img src="../static/img/bar.jpg">
        </div>

        <div class="sub-menu">
            <div class="icon-cocktail">
                Bagarre
            </div>
            <div class="icon-wine">
                Vins
            </div>
            <div class="icon-digestif">
                Pouce-pouce
            </div>
            <div class="icon-pizza">
                Graille
            </div>
        </div>
	</body>
</html>
